.personal-info {
    background-color: #fffefe;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #ff0000;
    border-radius: 8px;
  }
  
  .personal-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .personal-info label {
    display: block;
    margin: 10px 0;
  }
  
  .personal-info input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
    
  label {
    font-weight: bold;
    font-size: 16px;
    color: #363636;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  input:focus {
    outline: none;
    border-color: #00ff08;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  textarea {
    outline: none;
    border-color: #00ff08;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  