.practical-experience {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #ff0000;
    border-radius: 8px;
  }
  
  .practical-experience h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .practical-experience label {
    display: block;
    margin: 10px 0;
  }
  
  .practical-experience input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input:focus {
    outline: none;
    border-color: #00ff08;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  textarea {
    outline: none;
    border-color: #00ff08;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }